*{
    margin: 0;
    padding: 0;
}

/* nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    flex: 1;
} */

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(219, 0, 219)
}
nav{
    display: flex;
    align-items: center;
}


.navlist{
    display: inline;
    justify-content: center;
    padding: 10px;
}

.logo{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px;
    width: 60px;
    height: 60px;
}

.header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    background-color: rgb(119, 4, 119);
}

.para{
    padding-top: 12vh;
    height: 100vh;
}

body{
    background-color: rgb(219, 0, 219);
}
.nav{
    color: white;
    text-decoration: none;
}

.nav:hover{
    color: purple;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 20px;
    font: bolder;
}



