body{
    background-color: rgb(219, 0, 219);
}
.songs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    color: white;
    width: 50vw;
}

audio{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
p{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

